/* CSS del box para la pantalla demandas del Juez. */


.BoxDemandaText{
    width: 50%;
    float: left;
    height: 100%;
}
.BoxDemandaBoton{
    width: 50%;
    float: left;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.BotonVerDetalle {
    align-content: right;
    margin-bottom: 3%;
}



