.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .left-box {
    background-color: white; 
    color: black; 
    border: 3px solid black; 
    border-radius: 10px; 
    padding: 10px;
    height: 90%;
  }
  
  .right-box {
    background-color:  white; 
    color: black; 
    border: 3px solid #991C1E;
    border-radius: 10px; 
    padding: 10px;
  }

  .CajaDemandante {
    margin-left: 5%;
  }
  
  .download-button {
    background-color: #BC4745;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 8px 35px;
    width: 30%;
    margin-top: 3%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .accept-button {
    background-color: grey;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 8px 35px;
    width: 30%;
    margin-top: 3%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .reject-button {
    background-color: #BC4745;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 8px 35px;
    width: 30%;
    margin-top: 3%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
   margin-left: 3%;
   margin-right: 3%;
    
  }

  .rounded-input {
    border: 2px solid #333; 
    border-radius: 10px; 
    padding: 5px; 
    margin-top: 5px; 
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
  }
  
  .radio-options {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
