.pantallalogin {
    background-color: #991C1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
  
  .divsuperior {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
  }
  
  .divinferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 23rem;
  }

  .contenidologin {
    margin: 0px;
  }

  .formularioLogin {
    width: 100%;
    max-width: 100%;
  }
  
  .Elemento {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
  }

 
  
  .caja {
    border-radius: 10px;
    height: 30px;
    width: 100%;
    padding: 5px;
    max-width: 100%;
  }
  
  .logo-image {
    width: 35%;
    height: auto;
  }
  
  #h1 {
    font-size: 24px;
    text-align: center; /* Centramos el texto del título */
  }
  
  label {
    font-size: 12px;
    text-align: left; /* Alineamos los labels a la izquierda */
  }
  
  .rojo {
    color: #FF0000; /* Cambia este valor a rojo o el código de color que desees */
  }

  .SelectCajaLogin {
    width: 100%;
  }

  
  .SelectCajaRegistro {
    width: 90%;
  }