/* CSS del box para la pantalla demandas del Juez. */
.BoxSolicitudText {
    width: 50%;
    float: left;
    height: 100%;
}

.BoxSolicitudBoton {
    width: 50%;
    float: left;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}