/* CSS de los boxes para descargar y subir PDFs */
#LD-PDF {
    display: flex;
    margin: 2% 0;
    padding-top: 2%;
    height: fit-content;
}

.InfoLD {
    width: 80%;
    height: 100%;
}

.BotonLD {
    display: flex;
    width: 20%;
    height: 100%;
    margin-top: 1.2rem;
    justify-content: center;
}

#FormUpload {
    flex-direction: column;
    text-align: center;
}

#Adjunto {
    font-size: small;
    margin-top: 0rem;
}

.BotonD {
    max-width: 60%;
    padding: 3% 15%;
    background-color: #BC4745;
    color: white;
    border-width: 0px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: normal;
}

#subirDemanda {
    display: none;
}

.custom-subirDemanda {
    background-color: #BC4745;
    color: white;
    height: 100%;
    padding: 3% 13%;
    text-align: center;
    font-weight: 500;
    border-width: 0px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20%;
    max-width: 35%;
}

/* CSS para enviar el formulario rellenado */

.RequisitosEnviar {
    text-align: center;
}

.divCaptcha {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Captcha {
    text-align: center;
    border-radius: 5px;
    background: #EEE;
    padding: 0.5rem 2rem;
    margin-bottom: 2%;
}

.BotonEnviarF {
    padding: 1% 5%;
    background-color: #BC4745;
    color: white;
    border-width: 0px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: normal;
}