/* CSS del box para la pantalla demandas del Juez. */
.BoxDemandaText {
    width: 100%;
    float: left;
    height: 100%;
}

.BoxDemandaBoton {
    width: 100%;
    float: left;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}