/* Al momento de modificar el css verifiquen que no se repita el nombre del componente que van a dar. */

.Principal {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* CSS DE LA BARRA LATERAL */

.Banner {
    background-color: #991c1e;
    width: 16%;
    height: 100vh;
}

.Logo {
    height: 10vh;
    padding: 2vh 1vh 3vh 1vh;
}

.Logo img {
    width: 100%;
}

.Inferior {
    display: flex;
    height: 84vh;
    flex-direction: column;
    justify-content: space-between;
}

.BotonBanner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    background-color: #991c1e;
    align-content: center;
    text-align: left;
    border: 0;
    padding: 0;
}

.BotonBanner:hover {
    background-color: #bc4745;
}

.BotonBanner img {
    margin: 9% 11%;
    cursor: pointer;
    max-width: 2rem;
    max-height: 2rem;
}

.BotonBanner .texto {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

.Inferior a {
    color: white;
    text-decoration: none;
}

.active {
    background-color: #bc4745;
}

.NombreBoton {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* CSS del contenido */

.Contenido {
    width: 76vw;
    padding: 4%;
    overflow-y: auto;
}

.Contenido h1 {
    font-size: 2.5rem;
    margin: 1% 0;
}

/* CSS de botones */
.Boton {
    background-color: #bc4745;
    color: white;
    border: none;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 1.5rem;
}

#BAccion {
    padding: 0.5rem 2rem;
    margin-right: 0.5rem;
}

#BAntiAccion {
    background-color: #CCC;
    color: black;
    padding: 0.5rem 2rem;
    margin-right: 0.5rem;
}

#BFecha {
    margin-right: 0.5rem;
}

.BotonBuscar {
    width: 50%;
    height: 100%;
    margin: 7% 25% 0 25% ;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 1%;
}

.BotonLogin{
    background-color: #BC4745;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 8px 12px;
    width: 100%;
    max-width: 40%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

.BotonVolver {
    background-color: #B4B4B4;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 8px 35px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.BotonRegistrar {
    background-color: #BC4745;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
    padding: 8px 35px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

/*CSS de los Box*/
.Box {
    display: flex;
    position: relative;
    max-width: 100%;
    height: fit-content;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 2rem;
    margin-bottom: 1.5rem;
}

.Box .BTexto {
    width: 70%;
}

.Box .BBoton {
    display: flex;
    width: 30%;
    max-height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0.75rem;
}

.Box .BInfo {
    width: 40%;
    max-height: 100%;
}

.Box .BBotonPN {
    display: flex;
    width: 100%;
    max-height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0.75rem;
}

#PN {
    width: 60%;
}

#BInfoDemanda{
    width: 100%;
}

#BBlock {
    display: block;
    padding: 1.5rem 2rem;
}

#BInfo {
    display: block;
    padding: 0.1rem 2rem 0.5rem 2rem;
}

/* CSS del popup */

/* Css de la paginas de bienvenida */
.Bienvenida {
    position: relative;
    text-align: center;
    top: 20%;
    font-size: 1.5rem;
}

/* CSS de la vista MiPerfil */
.Info p {
    margin: 1px;
}

.Info input::placeholder {
    color: black;
}

.Grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Row {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    padding: 0rem 0rem 1.5rem 0rem;
}

#RowBoton {
    justify-content: flex-end;
    padding: 0;
}

.Column {
    width: 50%;
    max-width: 50%;
    padding: 0rem 0.5rem;
}

.Column p {
    border-bottom: solid gray 1px;
    text-align: left;
}

.nomInfo {
    display: block;
    font-weight: bold;
}

.Info label {
    font-size: 1rem;
}

#GridContrasena .Column p{
    width: 60%;
}

#GridContrasena .Column input {
    width: 60%;
    height: 1.1rem;
    border: none;
    border-bottom: solid lightgray 1px;
}

#GridContrasena .Column input[type=password]:hover {
    outline: none;
    border-bottom: solid gray 1px;
}

#GridContrasena .Column input[type=password]:focus {
    outline: none;
    border-bottom: solid gray 1px;
}

.BotonesDemanda {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.BotonesDemanda .Boton {
    width: 30%;
}

#Rejected {
    justify-content: center;
}

#Rejected .Boton{
    width: 30%;
}

.FinalizarDemanda{
    text-align: center;
}

.textFiltro {
    margin-right: 0.5rem;
}

#BRechazo{
    width: 30%;
    padding: 2rem 3rem;
    flex-direction: column;
}

#BRechazo .Boton{
    max-height: 2rem;
    width: 10rem;
    flex-direction: column;
}

#BBRechazo{
    margin: 0 25%;
    padding: 2% 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
}