/* Al momento de modificar el css verifiquen que no se repita el nombre del componente que van a dar. */

.Principal {
    display: flex;
    width: 100%;
    height: 100VH;
}

/* CSS DE LA BARRA LATERAL */

.Banner {
    background-color: #991C1E;
    width: 16%;
    height: 100VH;
}

.Logo {
    height: 10vh;
    padding: 2vh 1vh 3vh 1vh;
}

.Logo img {
    width: 100%;
}

.Inferior {
    display: flex;
    height: 84vh;
    flex-direction: column;
    justify-content: space-between;
}

.BotonBanner {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
    height: 10vh;
    align-content: center;
    text-align: left;
}

.BotonBanner:hover {
    background-color: #BC4745;
}

.BotonBanner img {
    margin: 9% 11%;
    cursor: pointer;
}

.BotonBanner .texto {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    color: white;
    font-size: 2.5vh;
    font-weight: 300;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

/* CSS del contenido */

.Contenido {
    width: 76vw;
    padding: 4%;
    overflow-y: scroll;
}

/* CSS de botones */

.BotonEditar {
    width: 10vw;
    height: 4vh;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.BotonVerDetalle {
    width: 17%;
    height: 23%;
    background-color: #BC4745;
    color: white;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.BotonVerExpediente {
    width: 17%;
    height: 27%;
    background-color: #BC4745;
    color: white;
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.BotonBuscar {
    width: 10vw;
    height: 4vh;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/*CSS de los Box*/ 
.Box {
    position: relative;
    max-width: 100%;
    height: 28%;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.25);
    padding: 0.5rem 2rem;
    margin-bottom: 2%;
}

/* Css de la paginas de bienvenida */
.Bienvenida {
    position: relative;
    text-align: center;
    top: 20%;;
    font-size: 22px; 
}

/* CSS de la vista MiPerfil */
.Info p {
    margin: 1px;
}